<ng-container>
    <div class="sidenav">
        <ul class="nav">
            <li routerLinkActive="active">
                <i class="fa fa-home" aria-hidden="true"></i>
                <a [routerLink]="['dashboard']">Dashboard</a>
            </li>
            <li routerLinkActive="active">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a [routerLink]="['customer']">Customers</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </div>
            <div class="panel-body">
                <app-customer></app-customer>
            </div>
        </div>
    </div>
</ng-container>